a {
    color: rgb(35, 135, 174);
}

.header-title {
    color:whitesmoke;
    /* background-color: sandybrown; */
    background-color: rgb(229, 157, 24);
}

.card-title {
    background-color: white;
    color:grey
}

.searchbar {
    color:black;
}

.error-bar{
    background-color: red;
}

.center-align{
    display:flex;
    justify-content:center;
    align-items: center;
    vertical-align: center;
    text-align: center;
}

.tab-selected{
    color:rgb(61, 61, 61);
}

.divider{
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f1f1f1 inset !important;
    -webkit-text-fill-color: rgb(138, 62, 0); 
}

@-webkit-keyframes autofill {
    0%,
    100% {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.welcome-card{
    width:50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.news-card{
    display:block;
    overflow: auto;
}